<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}" type="text/css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0ce2bf;">
    <a class="navbar-brand ml-1 mr-5" href="/" style="font-size:35px ;">V_Manage</a>
    <ul>
            
        <li><a class="active" href="{% url 'Super_Admin_Dash' %}">HOME</a></li>
       
 
     </ul>


</nav>


<div class="container">
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <div class="card p-3 mt-3">
                <form method="post" action="{% url 'Super_Admin_Update' vehicle.id %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <center>
                        <h1 class="text">Edit Vehicle</h1>
                        <hr>
                    </center>

                    <div class="md-form mb-4 pink-textarea active-pink-textarea">
                        <label for="form21">Vehicle Number</label>
                        <i class="fa fa-angle-double-right prefix"></i>
                        <input type="text" name="vnumber" class="md-textarea form-control"
                            value="{{vehicle.vehiclenumber}}">
                    </div>


                    <div class="md-form amber-textarea active-amber-textarea">

                        <label>Vehicle Type</label>
                        <select class="form-control" name="vtype" value="{{vehicle.vehicletype}}">
                            <option>{{vehicle.vehicletype}}</option>
                            <option></option>
                            <option>Two Wheeler</option>
                            <option>Three Wheeler</option>
                            <option>Four Wheeler</option>
                        </select>

                    </div>

                    <div class="md-form amber-textarea active-amber-textarea">
                        <label for="form22">Vehicle Modal</label>
                        <i class="fa fa-pencil-alt prefix"></i>
                        <input type="text" name="vmodal" class="md-textarea form-control"
                            value="{{vehicle.vehiclemodal}}">

                    </div>
                    <div class="md-form amber-textarea active-amber-textarea">
                        <label for="form22">Vehicle Description</label>
                        <i class="fa fa-pencil-alt prefix"></i>
                        <input type="text" name="vdescription" class="md-textarea form-control"
                            value="{{vehicle.vehicledescription}}">

                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 mt-4">
                            <button type="submit" class="btn btn-success w-100">Update</button>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </form>
            </div>

        </div>
        <div class="col-md-2"></div>

    </div>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>